 <h1>Edit <%= @owner.name %></h1>

<form action="/owners/<%= @owner.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  
  <label>Owners Name:</label>
  <input type="text" name="owner[name]" value="<%= @owner.name %>">
  
  <label>Pets Name:</label>
  <input type="text" name="pet[name]" id="pet_name"></input>
  
  <label>Your Pets</label>
    <% @pets.each do |pet| %>
      <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%= pet.id %>" <%='checked' if @owner.pets.include?(pet) %>><%= pet.name %></input><br>
    <% end %>
</form>